
#masthead {
  height: 256px;
  background: 50% 50% url(/assets/crow-riseup-labs.svg) no-repeat;
  background-size: contain;
  background-color: #007cc3;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  line-height: 1.8em;
}

#main {
  margin: 0px auto;
  padding: 30px;
  max-width: 700px;
}

section {
  margin-top: 30px;
  display: flex;
  .icon {}
  .text {
    padding-left: 20px;
  }
  h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}