- @title = 'Home'
- @this.layout = 'home'
- @this.toc = false

#slogan
  Riseup Labs is a 501(c)3 non-profit focused on technological research, development, and education for the purpose of furthering social justice and supporting social movements. Riseup Labs is the sister organization to Riseup Networks, the birds behind <a href="https://riseup.net">https://riseup.net</a>. <a href="mailto:labs@riseup.net">Contact Riseup Labs</a>.
  
  Riseup Labs is the sister organization to the Riseup Collective, the birds behind <a href="https://riseup.net">https://riseup.net</a>. 

%section
  .icon
    %img(src="/assets/trees.jpg")
  .text
    <h1>TREES</h1> (Technology for Resting Email Encrypted Storage) adds individually encrypted mail storage to the Dovecot IMAP server. This makes it so that email is only readable by the server when the user has an active IMAP session. <a href="https://0xacab.org/riseuplabs/trees" target="_blank">Go to project site.</a>

%section
  .icon
    %img(src="/assets/nest.png")
  .text
    <h1>Nest</h1> is a user management system that support email, recovery codes, invite codes, U2F authentication, single sign on, and user data that is personally encrypted. It designed to be the central integration point for independent service providers. Source code is forthcoming, once a security audit is finished.

%section
  .icon
    %img(src="/assets/crabgrass.png")
  .text
    <h1>Crabgrass</h1> is a software libre web application designed for social networking, group collaboration and network organizing. Our goal is to create communication tools that are tailored specifically to meet the needs of bottom up grassroots organizing. <a href="https://0xacab.org/riseuplabs/crabgrass" target="_blank">Go to project site.</a>

%section
  .icon
    %img(src="/assets/monkey.png")
  .text
    <h1>Monkeysphere</h1> enables you to use the OpenPGP web of trust to verify ssh connections. SSH key-based auth entication is tried-and-true, but it lacks a true public key infrastructure for key certification, revocation, and expiration. Monkeysphere is a framework that uses the OpenPGP web of trust for these PKI functions. <a href="http://web.monkeysphere.info/" target="_blank">Go to project site.</a>

%section
  .icon
    %img(src="/assets/ninja.png")
  .text
    <h1>Backupninja</h1> allows you to coordinate system backup by dropping a few simple files into /etc/backup.d/. Backupninja provides a centralized way to configure and schedule many different backup utilities. <a href="https://0xacab.org/riseuplabs/backupninja" target="_blank">Go to project site.</a>

%section
  .icon
    %img(src="/assets/tails.png")
  .text
    <h1>Tails</h1> is a live operating system that you can start on almost any computer from a USB stick or a DVD. It aims at preserving your privacy and anonymity. Riseup Labs is a fiscal sponsor for some of the Tails development. <a href="https://tails.boum.org" target="_blank">Go to project site.</a>